.kids-media-page-section-container {
    background-image: url("../../images/kidsComponentsImgs/kidsHomePageImgs/charactetSectionImgs/bgimg.png");
    background-size: auto;
    background-repeat: repeat;
    padding: 2rem 1rem;
}

.kids-media-page-section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Three equal columns */
    grid-auto-rows: 200px; /* Base row height */
    gap: 1.5rem; /* Space between grid items */
    margin-top: 2rem;
}

.media-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 4px solid black;
    border-bottom: 8px solid black;
}

.media-flex-item{
    display: flex;
    position: relative;
    border: 4px solid black;
    border-bottom: 8px solid black; 
    transition: transform 0.3s ease-in-out;
    align-items: center;
}
.media-flex-item:hover {
    transform: scale(1.05);
}

.media-item:hover {
    transform: scale(1.05);
}

.kids-media-img-section{
    width: 100%;
    height: 100%;
}

.media-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-content {
    padding: 1rem;
}

.media-content h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.media-type {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.kids-media-flex-vdo-push-icon{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    left: 80px;
}

.kids-media-flex-vdo-push-icon img,
.kids-media-vdo-push-icon img{
    height: 50px;
}

.kids-media-vdo-push-icon{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    left: 80px;
    top: 100px;
}

/* Responsive Media Queries */
@media screen and (max-width: 1024px) {
    .media-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust columns for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .kids-media-page-section-title h2 {
        font-size: 1.5rem;
    }
    .media-grid {
        display: flex;
        flex-direction: column;
    }
    .media-flex-item{
        flex-direction: column;
    }
    .kids-media-flex-vdo-push-icon,.kids-media-vdo-push-icon{
        top: 140px;
        left: 140px;
    }
}
