/* General Styles */
.header, .second-header {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    background-color: red;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    flex-shrink: 0;
}

.router-link small:hover{
    color: #e60012;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 280px;
    max-width: 100%;
}

.search-dropdown {
    padding: 5px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    outline: none;
    color: #434242;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    column-gap: 20px;
    flex-wrap: wrap;
}

.mobile-screen-menu {
    display: none;
}

.header-link {
    color: #434242;
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    align-items: center;
    font-weight: 600;
}

.header-greater-than-icon{
    font-size: 12px;
    margin-top: 2px;
}

.header-link:hover {
    color: #e60012;
}

.header-link svg {
    margin-right: 5px;
}

.second-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    column-gap: 50px;
    flex-wrap: wrap;
}

/* Menu Toggle Button */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #434242;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    width: 350px; /* Adjust width as needed */
    height: 100%;
    background-color: #dadada;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar.open {
    right: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 18px;
}

.close-sidebar {
    background-color: lightgray;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;

}

.sidebar-content {
    flex: 1;
    overflow-y: auto;
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.sidebar-section-one{
    background-color: #fff;
    color: #434242;
    padding: 10px;
    border-radius: 12px;
    margin-top: 1rem;
}

.sidebar-section-one ul{
    list-style-type: none;
}

.sidebar-section-one h5{
    margin-left: 20px;
}

.sidebar-login-btn{
    width: 100%;
    border: none;
    background-color: #e60012;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 1rem;
}

.sidebar-signup-btn{
    width: 100%;
    border: 1px solid;
    background-color: #fff;
    color: #e60012;
    border-color: #e60012;
    padding: 10px;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 12px;
    transition: 1s ease;
}

.sidebar-signup-btn:hover{
    background-color: #efaeb4;
}

.sidebar-orderstatus-btn{
    width: 100%;
    background-color: #fff;
    border: none;
    color: #434242;
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 12px;
    transition: 1s ease;
    text-align: left;
}

.sidebar-orderstatus-btn:hover{
    color: #e60012;
}

.sidebar-bottom-section{
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 12px;
    padding: 10px;
}

.sidebar-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border-bottom: 1px solid #434242;
}

.my-nintendo-store-header-dropdown{
    position: absolute;
    width: 100%;
    top: 110px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-nintendo-store-header-dropdown-title{
    background-color: #e60012;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    position: relative;
}

.menu-close-icon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    background-color: #fff;
    font-weight: bold;
    color: #e60012;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}

.my-nintendo-store-dropdown-box{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
}

.my-nintendo-store-dropdown-content h5{
    font-size: 16px;
    font-weight: bolder;
}

.game-header-dropdown{
    position: absolute;
    width: 100%;
    top: 110px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-bottom: 3rem;
}
.game-header-dropdown-title{
    color: #fff;
    font-weight: bold;
    padding: 20px;
    position: relative;
}

.game-menu-close-icon{
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 25px;
    background-color: lightgray;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}

.game-menu-close-icon:hover{
    background-color: #000;
    color: #fff;
}

.game-dropdown-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.game-dropdown-btns{
    border: 1px solid lightgray;
    border-radius: 12px;
    background-color: #fff;
    font-size: 30px;
    width: 100%;
    color: #434242;
}

.game-dropdown-btns:hover{
    background-color: #e60012;
    color: #fff;
}
.switch-dropdown-img-div{
    max-width: 100%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

.switch-dropdown-img-div:hover{
    background-color: #e60012;
}

.switch-dropdown-img{
    width: 100%;
    height: 40px;
}


/* Responsive Styles */
@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-left, .header-right {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .header-right {
        justify-content: center;
    }
    
    .search-input {
        width: 100%;
    }
    
    .search-dropdown {
        width: auto;
    }
    
    .header-link {
        margin-left: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .second-header {
        display: none;
    }

    .second-header.open {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header-content {
        column-gap: 20px;
        padding: 5px;
    }
    
    .header-link {
        font-size: 14px;
    }
    
    .logo {
        font-size: 18px;
        margin-right: 10px;
    }
    
    .search-input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .search-dropdown {
        width: 100%;
    }
    
    .header-right {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-link {
        margin-left: 0;
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 5px;
    }
    
    .header-left {
        justify-content: center;
    }
    
    .header-right {
        display: none;
    }
    
    .search-container {
        flex-direction: column;
    }

    .search-dropdown {
       display: none;
    }

    .mobile-screen-menu {
        display: flex;
        align-items: center;
    }

    .mobile-screen-menu a {
        font-size: 10px;
    }

    .search-input {
        display: none;
    }

    .logo {
        max-width: 50px;
        margin-left: 0;
    }

    .header-content {
        flex-direction: column;
        row-gap: 10px;
        column-gap: 0;
    }

    .sidebar {
        width: 250px; /* Adjust for smaller screens */
    }

    .sidebar-section-one{
        font-size: small;
    }

    .sidebar-section-one h5{
        font-size: medium;
        margin: 0;
    }

    .sidebar-section-one ul{
        padding: 0;
    }
    .sidebar-login-btn,.sidebar-signup-btn,.sidebar-orderstatus-btn{
        font-size: small;
    }
    .sidebar-bottom-content{
        font-size: 10px;
    }
    .my-nintendo-store-header-dropdown{
        position: relative;
        top: 0;
    }
    
    .my-nintendo-store-dropdown-box{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        font-size: smaller;
    }
    .my-nintendo-store-dropdown-content h5{
        font-size: small;
    }
    .my-nintendo-store-header-dropdown-title{
        padding: 10px;
    }
    .my-nintendo-store-header-dropdown-title h5{
        display: none;
    }
    .menu-close-icon{
        display: none;
    }
    .game-header-dropdown{
        position: relative;
        top: 0;
        padding: 10px;
    }
    .game-header-dropdown-title{
        padding: 10px;
    }
    .game-menu-close-icon{
        font-size: smaller;
        padding: 2px 5px;
        top: -5px;
        right: 0;
    }
    .game-dropdown-box{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        font-size: smaller;
        text-align: center;
    }
}
