.img-full-width{
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
}

.free-download-span{
    background-color: #9531b9 !important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 0 10px !important;
    border-radius: 25px !important;
    font-size: small !important;
}