.newrelease-main-div {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.slider-control-leftbtn{
    position: absolute;
    top: 100px;
    left: 0;
    width: 30px;
    height: 300px;
    border: none;
    background-color: #dadada;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.slider-control-leftbtn:hover{
    background-color: #c5bfbf;
    font-weight: bold;
}

.slider-control-rightbtn{
    position: absolute;
    top: 100px;
    right: 0;
    width: 30px;
    height: 300px;
    border: none;
    background-color: #dadada;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.slider-control-rightbtn:hover{
    background-color: #c5bfbf;
    font-weight: bold;
}

.newrelease-main-div h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #434343;
    text-align: left;
}

.newrelease-flex-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    transition: transform 0.5s ease; /* Animation effect for sliding */
}

.sliding {
    transform: translateX(-100%); /* Sliding effect */
}

.newreleases-box {
    border: 1px solid lightgray;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.newreleases-box img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    display: block;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.newreleases-box:hover img{
    cursor: pointer;
    zoom: 100%;
    transform: scale(1.1);
}

.newreleases-box-content {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes up the full height of the box */
}

.newreleases-box-content p {
    font-size: 14px;
    text-align: left;
    flex-grow: 1; /* Push the footer content to the bottom */
}

.newrelease-box-footer {
    margin-top: auto; /* Push this content to the bottom */
    text-align: left;
    position: relative;
}

.newrelease-box-span {
    background-color: #4b5cce;
    border-radius: 25px;
    padding: 0px 8px 2px 8px;
    color: #fff;
    font-weight: bold;
    font-size: smaller;
    display: inline-block;
    margin-bottom: 10px;
}

.heart-icon{
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Responsive Design */
@media (max-width: 992px) {
    .newrelease-flex-box {
        gap: 15px;
    }

    .newreleases-box {
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .newrelease-flex-box {
        flex-direction: column;
        align-items: center;
    }
    
    .newreleases-box {
        max-width: 100%;
    }

    .newrelease-main-div h4 {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .newrelease-flex-box {
        gap: 10px;
    }

    .newreleases-box {
        max-width: 100%;
    }

    .newrelease-main-div h4 {
        font-size: 20px;
    }
}
